In [3]:
import pandas as pd
df = pd.read_csv("E:\\datascience\\pyhon\\weatherHistory.csv")

In [22]:
df.head()

,Date,Summary,Events,Temperature,ApparentTemperatureC,Humidity,WindSpeedkm/h,WindBearingdegrees,Visibilitykm,LoudCover,Pressuremillibars,DailySummary
0,01-04-2006,Partly Cloudy,rain,9,7,0.9,14.0,251,16,0,1015,Partly cloudy throughout the day.
1,01-04-2006,Partly Cloudy,rain,9,7,0.9,14.0,259,16,0,1016,Partly cloudy throughout the day.
2,01-04-2006,Mostly Cloudy,rain,9,9,0.9,4.0,204,15,0,1016,Partly cloudy throughout the day.
3,01-04-2006,Partly Cloudy,rain,8,6,0.8,14.0,269,16,0,1016,Partly cloudy throughout the day.
4,01-04-2006,Mostly Cloudy,rain,9,7,0.8,11.0,259,16,0,1017,Partly cloudy throughout the day.

In [5]:
df.shape

(1082, 12)

In [ ]:
#max temp

In [26]:
df["Date"][df["Temperature"].max()]

'10-04-2006'

In [30]:
df["Date"][df["Events"]=="rain"]

0       01-04-2006
1       01-04-2006
2       01-04-2006
3       01-04-2006
4       01-04-2006
           ...
1077    22-08-2006
1078    22-08-2006
1079    22-08-2006
1080    23-08-2006
1081    23-08-2006
Name: Date, Length: 1082, dtype: object

In [36]:
df["WindSpeedkm/h"].max()

32.0

In [ ]:
#display date and max temp

In [37]:
df[df.Temperature==df.Temperature.max()]

,Date,Summary,Events,Temperature,ApparentTemperatureC,Humidity,WindSpeedkm/h,WindBearingdegrees,Visibilitykm,LoudCover,Pressuremillibars,DailySummary
735,01-08-2006,Mostly Cloudy,rain,33,33,0.4,13.0,199,11,0,1009,Partly cloudy starting overnight.
953,18-08-2006,Mostly Cloudy,rain,33,33,0.4,12.0,220,10,0,1013,Partly cloudy starting overnight continuing un...
1021,20-08-2006,Partly Cloudy,rain,33,35,0.5,11.0,252,10,0,1017,Partly cloudy starting in the afternoon.
1022,20-08-2006,Partly Cloudy,rain,33,34,0.4,14.0,261,10,0,1016,Partly cloudy starting in the afternoon.

In [39]:
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
#access 2 columns

In [48]:
df[["Events","DailySummary"]]

     Events                            DailySummary
0      rain       Partly cloudy throughout the day.
1      rain       Partly cloudy throughout the day.
2      rain       Partly cloudy throughout the day.
3      rain       Partly cloudy throughout the day.
4      rain       Partly cloudy throughout the day.
...     ...                                     ...
1077   rain  Partly cloudy starting in the morning.
1078   rain  Partly cloudy starting in the morning.
1079   rain  Partly cloudy starting in the morning.
1080   rain  Partly cloudy starting in the morning.
1081   rain  Partly cloudy starting in the morning.

[1082 rows x 2 columns]

In [49]:
df.shape

(1082, 12)

In [52]:
df.describe()

,Temperature,ApparentTemperatureC,Humidity,WindSpeedkm/h,WindBearingdegrees,Visibilitykm,LoudCover,Pressuremillibars
count,1082.000000,1082.000000,1082.000000,1077.000000,1082.000000,1082.000000,1082.0,1082.000000
mean,15.530499,15.201479,0.734935,10.384401,201.049908,10.978743,0.0,1007.523105
std,6.344088,6.948075,0.176353,6.309465,95.321964,3.373800,0.0,75.363884
min,1.000000,-1.000000,0.300000,0.000000,0.000000,0.000000,0.0,0.000000
25%,11.000000,11.000000,0.600000,5.000000,141.000000,10.000000,0.0,1010.000000
50%,15.000000,15.000000,0.800000,10.000000,185.500000,11.000000,0.0,1013.000000
75%,19.000000,19.000000,0.900000,14.000000,290.000000,14.000000,0.0,1016.000000
max,33.000000,35.000000,1.000000,32.000000,359.000000,16.000000,0.0,1021.000000

In [54]:
df[df.Temperature>23]

,Date,Summary,Events,Temperature,ApparentTemperatureC,Humidity,WindSpeedkm/h,WindBearingdegrees,Visibilitykm,LoudCover,Pressuremillibars,DailySummary
398,24-04-2006,Partly Cloudy,rain,24,24,0.4,6.0,154,10,0,1019,Partly cloudy until evening.
399,24-04-2006,Partly Cloudy,rain,24,24,0.4,3.0,333,10,0,1019,Partly cloudy until evening.
400,24-04-2006,Partly Cloudy,rain,24,24,0.4,4.0,178,10,0,1019,Partly cloudy until evening.
401,24-04-2006,Partly Cloudy,rain,24,24,0.3,1.0,205,10,0,1019,Partly cloudy until evening.
422,25-04-2006,Mostly Cloudy,rain,24,24,0.5,11.0,153,11,0,1019,Partly cloudy starting in the morning.
...,...,...,...,...,...,...,...,...,...,...,...,...
1070,22-08-2006,Partly Cloudy,rain,25,25,0.4,14.0,301,10,0,1015,Partly cloudy starting in the morning.
1071,22-08-2006,Partly Cloudy,rain,25,25,0.4,15.0,317,10,0,1015,Partly cloudy starting in the morning.
1072,22-08-2006,Partly Cloudy,rain,25,25,0.4,NaN,281,10,0,1014,Partly cloudy starting in the morning.
1073,22-08-2006,Partly Cloudy,rain,24,24,0.4,11.0,321,11,0,1014,Partly cloudy starting in the morning.
1074,22-08-2006,Partly Cloudy,rain,24,24,0.5,16.0,290,11,0,0,Partly cloudy starting in the morning.